body {
  font-family: Arial, sans-serif;
  background: #000000;
  color: #e5e7eb;
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 650px;
  background: #0f0f0f;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #1f1f1f;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
  color: #9ca3af;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  background: #111111;
  color: white;
  outline: none;
}

input:focus {
  border-color: #38bdf8;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

#resultado {
  margin-top: 20px;
}

.vaga {
  background: #111111;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  border: 1px solid #2a2a2a;
  transition: 0.2s;
}

.vaga:hover {
  transform: translateY(-2px);
  border-color: #38bdf8;
}

.vaga h3 {
  margin: 0 0 8px 0;
  color: #60a5fa;
}

.vaga p {
  margin: 4px 0;
  color: #d1d5db;
}

.vaga.destaque {
  border: 2px solid #22c55e;
}