<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Match de Vagas</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container">
        <h1>Match de Vagas</h1>

        <!-- input do usuário -->
        <label for="skills">Digite suas skills:</label>
        <input 
            type="text"
            id="skills"
            name="skills"
            placeholder="Ex: python javascript html"
        >

        <!-- botão -->
        <button id="enviar">Buscar</button>

        <!-- resultado -->
        <div id="resultado"></div>
    </div>

  <script src="/static/script.js"></script>
</body>
</html>